/* 公共css */
* {
    box-sizing: border-box;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.my-height{
    height: 100vh;
}
a {
    /*text-decoration: none;*/
    color: #333;
}

.my-switch{
    margin-top: 10px;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
    word-wrap: break-word !important;
}
